*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #9980FA;
}
.nav_bar{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.nav_bar_left
{
    display: flex;
}
.nav_bar_left img{
    width: 50px;
}
.nav_bar_left p
{
    padding-left: 10px;
    padding-top: 8px;
    font-size: 2rem;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.nav_bar_right ul{
    display: flex;
    padding-top: 8px;
}
.nav_bar_right ul li {
    list-style: none;
    font-size: 2rem;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
}
.nav_bar_right ul li a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 20px;
    font-weight: bold;
    transition: 0.3;
    
}
.nav_bar_right ul li a:hover{
    color: rgb(255, 255, 0);
    border-bottom:  3px solid #fff200;
}
.footer{
    background-color: #9980FA;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}
.footer_left li{
    padding-bottom: 5px;
    list-style: none;
    color: white;
}
.footer_left li i{
    padding-right: 10px;
    color: #fff200;
}
.footer_left{
    border-right: 2px solid white;
    padding-right: 250px;
}
.footer_right li{
    padding-bottom: 5px;
    list-style: none;
    color: white;
}
.footer_right li i {
    padding-right: 10px;
    color: #fff200;
}
.footer_right a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.featured{
    margin-top: -5px;
    background-color:#9980FA;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 20px;
  display: flex;
  flex-wrap:wrap;     /*  allow wrapping to next line */
  gap: 20px;             /* spacing between carts */
  justify-content: center;
}

.product_carts img{
    width: 150px;
    padding-bottom: 10px;
}
.product_carts {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(154, 147, 147);
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
  width: 10%;
}
.product_carts h2
{
    padding-bottom: 10px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;

}
.product_carts del{
    padding-bottom: 5px;
    color: red;

}
.product_carts span{
    padding-bottom: 5px;
    color: rgb(153, 255, 0);
}
.product_carts button{
    background-color: #9980FA;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.banner img{
        width: 100%;
        height: 300px;
}

main{
    background:linear-gradient(45deg, rgb(199, 199, 247), rgb(247, 194, 194));
}

